{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<h1>
    Henrik Sedvall
    
</h1>
<br> Game Developer </br>
<h2>
    About
</h2>
<section>
    The Isle of Wight (/waɪt/) is a county and the largest and second-most populous island of England. It is located in the English Channel, two to five miles off the coast of Hampshire, from which it is separated by the Solent. Referred to as 'The Island' by residents[citation needed], the island has resorts that have been popular holiday destinations since Victorian times. It is known for its mild climate, coastal scenery, and verdant landscape of fields, downland and chines. The island is historically part of Hampshire,[5] and is designated a UNESCO Biosphere Reserve
</section>
{% endblock %}