{% extends 'base.html' %}
{% block title %}Projects{% endblock %}

{% block content %}
<div>
    <h1>
        Projects
    </h1>
    <section>
        The island has been home to the poets Algernon Charles Swinburne and Alfred, Lord Tennyson. Queen Victoria built her summer residence and final home, Osborne House at East Cowes, on the Isle. It has a maritime and industrial tradition of boat-building, sail-making, the manufacture of flying boats, hovercraft, and Britain's space rockets. The island hosts annual music festivals, including the Isle of Wight Festival, which in 1970 was the largest rock music event ever held.[6] It has well-conserved wildlife and some of the richest cliffs and quarries of dinosaur fossils in Europe.
    </section>
    <ul>
        <li>
        <div>
            <h2>
                Bucket Boy
            </h2>
        </div>
        </li>
        <li>
        <div>
            <h2>
                Babymon: Daycare Dropoff
            </h2>
        </div>
        </li>
        <li>
            <div>
                <h2>
                    Rouse
                </h2>
            </div>
        </li>
    </ul>
</div>
{% endblock %}